.viewMore {
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  border: none;
  background-color: transparent;
  color: #fff;
}

.viewMore > img {
  margin-left: 6px;
  max-width: 30px;
}

.viewMore > p {
  font-size: 20px;
  white-space: pre-line;
  text-align: start;
}

@media (width <= 1024px) {
  .viewMore {
    width: 90%;
  }

  .viewMore > p {
    font-size: 16px;
  }
}

@media (width <= 425px) {
  .viewMore {
    margin: 0;
  }

  .viewMore > p {
    font-size: 14px;
    width: fit-content;
  }
}
