@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: Montserrat, sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

html {
  font-family: Montserrat;
  background-color: #030303;
  color: #fff;
}

body {
  margin: 0;
}

.orangeText {
  color: #e17226;
  margin-bottom: 5vh;
}

.section_padding {
  padding-top: 15vh;
  padding-bottom: 13vh;
}

@media (width <= 1024px) {
  p {
    font-size: 16px;
  }

  .section_padding {
    padding-top: 10vh;
    padding-bottom: 7vh;
  }
}

@media (width <= 425px) {
  .section_padding {
    padding-top: 5vh;
  }

  figure {
    margin: 0;
    margin-bottom: 1vh;
  }

  h4 {
    font-size: 30px;
  }
}
